#
#Please add any requirements here as you expand the package
statsmodels
scipy
pandas
numpy
patsy
pytz
geohash
tables
matplotlib
seaborn 
sklearn 
shapely
geohash
Geohash
geopandas
descartes
fiona
pyarrow
networkx
